<% content_for :title do %>HADashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Stweather"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wlaczniklampa" data-view="Stswitch" data-title="Pokoj" data-device="Wlacznik Swiatla W Pokoju"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wlaczniktelewizor" data-view="Stswitch" data-title="Telewizor" data-device="Wlacznik za telewizorem"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wlaczniklampa" data-view="Stswitch" data-title="Lampa w biurze" data-device="Wlacznik W Biurze"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mode" data-view="Stmode" data-title="Current Mode"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wlacznikkamera" data-view="Stswitch" data-title="Wlacznik Kamery" data-device="Wlacznik Kamery"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wlacznikpralki" data-view="Stswitch" data-title="Wlacznik Pralki" data-device="Wlacznik Pralki"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nightmode" data-view="Stmodechange" data-title="Good Night" data-icon="moon-o" data-changemode="Night" data-phrase="Good Night!" data-countdown="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="lrtemp" data-view="Sttemp" data-title="Glowny pokoj" data-device="Nest"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="temperaturagaraz" data-view="Sttemp" data-title="W Garazu" data-device="Czujnik w garazu"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="drzwiglownecontact" data-view="Stcontact" data-title="Drzwi Glowne" data-device="Drzwi Główne"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="drzwigarazowecontact" data-view="Stcontact" data-title="Drzwi Garazowe" data-device="Drzwi Garażowe"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="drzwigarazzewncontact" data-view="Stcontact" data-title="Drzwi Garaz Zewn" data-device="Drzwi Garaz Zewn"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presenceGrz" data-view="Stpresence" data-title="Me" data-device="Grzegorz's Android"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="presenceKor" data-view="Stpresence" data-title="Kornelia" data-device="Kornelia's Android"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="czujnikpokoj" data-view="Stmotion" data-title="Czujnik w pokoju" data-device="Czujnik w pokoju"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="czujnikkuchnia" data-view="Stmotion" data-title="Czujnik w kuchni" data-device="Czujnik w kuchni"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="czujnikgaraz" data-view="Stmotion" data-title="Czujnik w garazu" data-device="Czujnik w garazu"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="czujnikwyjsciekuchni" data-view="Stmotion" data-title="Czujnik kuchnia drzwi" data-device="Czujnik kolo wyjscia w kuchni"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reload" data-view="Reload"></div>
    </li>

  </ul>
</div>